body {
    background-color: rgb(13, 10, 233);
}

/* Parallax */

.home-parallax {
    position: relative;
    height: 800px;
    background-color: #333;

}

#background-parallax {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#silhoutte {
    position: absolute;
    width: 100%;
    height: 100%;
}

#silhoutte2 {
    position: absolute;
    top: 12rem;
    width: 100%;
    height: 100%;
}

.parallax h1 {
    color: #fff;
}


/* Carousel */

.containerSlider{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5% 0;
    background-color: #333;
}
.containerSlider .carousel {
    margin: 0; 
    width: 80%; 
    height: 50%; 
    background-color: #333333;
}

#mainSlider .carousel-inner {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #333;
}

.carousel-caption {
    width: 60%;
    height: 55%;
    margin: auto;
    margin-bottom: 5%;
    background-color: #333333a2;
    border-radius: 2rem;
}

#mainSlider .carousel-caption h2 {
    font-size: 3rem;
    margin-bottom: 2%;
    text-shadow: 3px 3px #039ef898;
}

#mainSlider .carousel-caption p {
    width: 90%;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 5%;
    color: #fff;
}

.main-btn {
    margin-bottom: 20rem;
    background-color: #039ef898;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    width: 10rem;
    height: 4rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    color: #fff;
    background-color: transparent;
    border-color: #039ef8;
}

.carousel-indicators {
    bottom: 20%;
}

.carousel-indicators .active {
    background-color: #039ef8;
}

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
}

.carousel-control-prev {
    margin-left: 10%;
}

.carousel-control-next {
    margin-right: 10%;

}

@media screen and (max-width:992px) {

    #mainSlider .carousel-inner,
    #mainSlider .carousel-item {
        height: 40vh;
    }

    .carousel-caption {
        height: auto;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 2rem;
        margin-bottom: 2%;
        text-shadow: 3px 3px #039ef898;
    }

    #mainSlider .carousel-caption p {
        width: 90%;
        margin: auto;
        font-size: 1rem;
        margin-bottom: 10%;
    }
}

/* NavBar*/

.navBar {
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: rgb(235, 10, 10);
    z-index: 9999;
    inset: 0;
}