body {
    background-color: #333;
}

/* Parallax */

.parallax {
    display: flex;
    align-items: flex-end;
    background-image: url("../img/parallax_img/Screenshot_1.png");
    min-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 10%;
}

.parallax img {
    width: 100%;
    height: 20%;
}


.parallax h1 {
    color: #fff;
}

/* Carousel */

#mainSlider .carousel-inner,
#mainSlider .carousel-item {
    height: 70vh;
}

.carousel-item img {
    height: 100%;
}

.carousel-caption {
    width: 60%;
    height: 55%;
    margin: auto;
    margin-bottom: 5%;
    background-color: #333333a2;
    border-radius: 2rem;
}

#mainSlider .carousel-caption h2 {
    font-size: 3rem;
    margin-bottom: 2%;
    text-shadow: 3px 3px #039ef898;
}

#mainSlider .carousel-caption p {
    width: 90%;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 5%;
    color: #fff;
}

.main-btn {
    margin-bottom: 20rem;
    background-color: #039ef898;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    width: 10rem;
    height: 4rem;
    padding: 1rem 2rem;
    border-radius: 2rem;
    border: 3px solid transparent;
    transition: .5s;
}

.main-btn:hover {
    color: #fff;
    background-color: transparent;
    border-color: #039ef8;
}

.carousel-indicators .active {
    background-color: #039ef8;
}

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50% !important;
}

@media screen and (max-width:992px) {

    #mainSlider .carousel-inner,
    #mainSlider .carousel-item {
        height: 40vh;
    }

    .carousel-caption {
        height: auto;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 2rem;
        margin-bottom: 2%;
        text-shadow: 3px 3px #039ef898;
    }

    #mainSlider .carousel-caption p {
        width: 90%;
        margin: auto;
        font-size: 1rem;
        margin-bottom: 10%;
    }
}