* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

/* Navigation*/

nav {
  visibility: hidden;
  position: fixed;
  width: 100%;
  height: 1.92rem;
  z-index: 9999;
  inset: 0;
  /* color: #ffffff;
  font-size: 1.8rem;
  font-weight: 700; */
  padding-inline: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.9;
}

.link-sections,
.link-dropdown {
	color: #ffffff;
	font-size: 1.28rem;
	font-weight: 700;
	text-decoration: none;
}


.link-sections:hover,
.link-dropdown:hover,
.hamburger-menu img:hover {
  color: #ffffff;
	opacity: 0.5;
}

nav.scroll {
  background-color: #000000;
  border-bottom: 2px solid #ffffff;
  box-shadow: 0rem 0rem 1rem #ffffff;
  visibility: visible;
}

nav .logo-nav-left img {
  position: fixed;
  left: -0.8rem;
  top: 0rem;
  width: 4.4rem;
  transform: rotate(90deg);
}

nav .logo-nav-right img {
  position: fixed;
  right: -0.8rem;
  top: 0rem;
  width: 4.4rem;
  transform: rotate(-90deg);
}

nav ul {
  list-style: none;
  display: flex;
  /* justify-content: flex-end; */
  align-items: center;
  gap: 1.6rem;
  margin: 0;
  height: 3.2rem;
}

nav ul li a {
  /* display: flex;
  justify-content: flex-end;
  align-items: center; */
  text-decoration: none;
  color: #ffffff;
}

.nav-menu {
	background-color: #000000;
	border-bottom: 2px solid white;
	/* box-shadow: 0rem 0rem 1rem white; */
	border-radius: 3.2rem;
	transform: translateY(0.8rem);
	padding: 0;
}

.nav-menu ul {
	padding-block: 0.32em;
	padding-inline: 1.6rem;
}

.nav-menu a {
	padding: 0.8rem
}

.hamburger-menu {
	width: 3.2rem;
	height: 3.2rem;
	padding: 0;
}

.hamburger-menu img {
	width: 2.5rem;
	height: 2rem;
	/* padding: 0; */
}

.dropdown, .list-dropdown {
	display: none;
}

.dropdown-content {
	position: absolute;
	z-index: -999;
	right: 0;
	top: 1.6rem;
}

.dropdown-content ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: auto;
	padding: 1.6rem;
	padding-right: 8rem;
	margin: 0;
	background-color: #000000;
	border-radius: 0 0 1.6rem 3.2rem;
	gap: 0.8rem;
	transform: translateY(-200%);
	transition: 500ms;
}

.dropdown:hover .dropdown-content ul {
	transform: translateY(0);
}

/* Content */

#content {
  padding-top: 5rem;
  padding-bottom: 7rem;
  background-image: url('../img/background/infinity_smoke.gif');
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100% 100%;
}

.wrapper {
  width: 35%;
  margin: auto;
}

#content form {
  margin: auto;
  background-color: #22262a85;
  border-radius: 2rem;
  box-sizing: border-box;
  padding: 2rem;
  /* width: 40rem; */
  font-size: 1.4rem;
  box-shadow: 0rem 0rem 1rem 0.1rem #ffffff;
  backdrop-filter: blur(0.5rem);
  transform-style: preserve-3d;
  transform: perspective(80rem) 
}

#content form img {
  position: absolute;
  /* margin: auto; */
  left: 0; 
  right: 0;
  top: -2rem;
  margin-inline: auto;
  width: 7rem;
  /* transform: translateY(-100%); */
  transform: rotate(180deg);
}

#content form:hover {
  box-shadow: 0rem 0rem 1rem 0.3rem #ffffff;
}

#content form .logo-form {
display: flex;
justify-content: center;
}

.title {
  text-align: center;
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 3.6rem;
  font-weight: 600;
  margin-top: 3rem;
}

.subtitle {
  text-align: center;
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 1.6rem;
  font-weight: 600;
  margin-top: 1rem;
}

.input-container {
  height: 5rem;
  position: relative;
  width: 100%;
}

.ic {
  margin-top: 3rem;
}

.input {
  background-color: #ffffff;
  border-radius: 1.2rem;
  border: 0;
  box-sizing: border-box;
  color: #22262a;
  font-family: 'Poppins';
  font-size: 1.8rem;
  height: 100%;
  outline: 0;
  padding: 0.4rem 2rem 0;
  width: 100%;
}

.cut {
  background-color: #22262a;
  border-radius: 1rem;
  height: 2rem;
  left: 2rem;
  position: absolute;
  top: -2rem;
  transform: translateY(0);
  transition: transform 200ms;
  width:fit-content;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(.8rem);
}

.placeholder-form {
  color: #484f56;
  font-family: 'Poppins';
  left: 2rem;
  line-height: 1.4rem;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 2rem;
}

.input:focus ~ .placeholder-form,
.input:not(:placeholder-shown) ~ .placeholder-form {
  transform: translateY(-3rem) translateX(1rem) scale(0.75);
  background-color: #ffffff;
  padding: 0.5rem;
  border-radius: 1.2rem;
  font-weight: 600;
}

.input:not(:placeholder-shown) ~ .placeholder-form {
  color: #a7aeb3;
}

.input:focus ~ .placeholder-form {
  color: #000000;
}

.checkbox {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.checkbox-text {
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 1.6rem;
  font-weight: 600;
}

.submit {
  background-color: #22262a;
  border-radius: 1.2rem;
  border: 0;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: 'Poppins';
  height: 5rem;
  margin-top: 3rem;
  outline: 0;
  text-align: center;
  width: 100%;
  border: 1px solid #ffffff;
}

.submit:hover {
  border: none;
  color: #ffffff;
  box-shadow: 0rem 0rem 1rem 0.1rem #ffffff;
}

.submit:focus {
  opacity: 0.5;
}

#nameError {
  display: none;
  font-size: 1.5rem;
  color: red;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: -2rem;
}

#nameError.visible {
  display: block;
}

/* Footer */

footer {
  border-top: 2px solid #ffffff;
  box-shadow: 0rem 0rem 1rem #ffffff;
}

.logo-footer {
  width: 24rem;
  transform: translateY(-40%);
}

footer .link-sections {
	font-size: 2.08rem;
	text-transform: uppercase;
}

/* Back to top button */

  #backToTopButton circle {
      fill: #333;
  }

  #backToTopButton {
      position: fixed;
      bottom: 1rem;
      right: 2.5rem;

      opacity: 0;
      visibility: hidden;

      transform: translateY(100%);
      transition: 200ms;
  }

  #backToTopButton.show {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
  }

  /* Responsividade */

  @media screen and (max-width:560px) {
    #navigation {
      padding-inline: 0;
    }
  
    .nav-menu {
      display: flex;
      width: 80%;
      height: 4rem;
      align-items: center;
      transform: translateY(1.12rem);
    }
  
    .nav-menu ul {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding-inline: 0.8rem;
    }
        
    .nav-menu .inicio {
      display: none;
    }
  
    .dropdown, .list-dropdown {
      display: block;
    }
  
    .contact,
    .about {
      display: none;
    }
  
    nav ul {
      gap: 0;
    }
  }
  
  @media screen and (max-width: 400px) {
    .logo-nav-left {
      display: none;
    }
  
    .logo-nav-right {
      display: none;
    }
  }

    @media screen and (max-width: 600px) {
      .wrapper {
        width: 70%;
      }
    }