body {
    background-color: #333;
}

/* Navigation*/

 nav {
        position: fixed;
        width: 100%;
        height: 3rem;
        z-index: 9999;
        inset: 0;
        color: white;
        font-size: 1rem;
        font-weight: 700;
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    nav.scroll {
        background-color: #333;
    }

     nav ul {
        list-style: none;
        display: flex;
        gap: 1rem;
    }



     nav ul li a {
        text-decoration: none;
        color: white;
    }


/* Parallax */

.home-parallax {
    position: relative;
    height: 800px;
    background-color: #333;

}

#background-parallax {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
}

#silhoutte {
    position: absolute;
    width: 100%;
    /* height: 100%; */
}

#logo {
    margin-top:1rem;
    left: 35%;
    position: absolute;
    width: 30%;
}

#silhoutte2 {
    position: absolute;
    top: 12rem;
    width: 100%;
    height: 100%;
}

#smoke {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

#flare {
    position: absolute;
    mix-blend-mode: lighten;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}

.parallax h1 {
    color: #fff;
}

/* Carousel */

.containerSlider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 5% 0;
    background: linear-gradient(to bottom, #000000, #333, #000000);
}

.containerSlider h2{
    width: 80%;
    text-transform: uppercase;
    letter-spacing: 0.5rem;
    margin-bottom: 1.5rem;
    color: #fff;
    text-shadow: 2px 2px #000000;
}

.containerSlider .carousel {
    margin: 0;
    width: 80%;
}

#mainSlider .carousel-inner {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-color: #333;
}

.carousel-caption {
    width: 60%;
    height: 55%;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 2rem;
    background-color: #33333367;
}

#mainSlider .carousel-caption h3 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2%;
    text-shadow: 3px 3px #039ef898;
}

#mainSlider .carousel-caption p {
    width: 90%;
    margin: auto;
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 5%;
    color: #fff;
}

.main-btn {
    margin-bottom: 20rem;
    background-color: transparent;
    color: #fff;
    font-weight: bolder;
    text-decoration: none;
    text-transform: uppercase;
    width: 10rem;
    height: 4rem;
    padding: 1rem 2rem;
    color: #fff;
    border-left: #fff 3px solid;
    border-bottom: #fff 3px solid;
    transition: .5s;
}

.main-btn:hover {
    border: none;
    color: #fff;
    background-color: #039ef8;
}

.carousel-indicators {
    bottom: 5%;
}

.carousel-indicators .active {
    background-color: #039ef8;
}

.carousel-indicators button {
    height: 10px !important;
    width: 10px !important;
    border-radius: 50%;
}


@media screen and (max-width:992px) {

    #mainSlider .carousel-inner,
    #mainSlider .carousel-item {
        height: 40vh;
    }

    .carousel-caption {
        height: auto;
    }

    #mainSlider .carousel-caption h2 {
        font-size: 2rem;
        margin-bottom: 2%;
        text-shadow: 3px 3px #039ef898;
    }

    #mainSlider .carousel-caption p {
        width: 90%;
        margin: auto;
        font-size: 1rem;
        margin-bottom: 10%;
    }
}

/* Social links */

.social-links {
    position: relative;
    display: flex;
    flex-direction: row;
}

.social-links article,
.social-links article+article+article {
    background-color: #cccccc;
    padding: 1rem 2rem;
    width: 100%;
    height: auto;
}

.social-links article+article {
    background-color: #f7f5f5;
    width: 100%;
    height: auto;
}

.social-links article header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: rgba(51, 51, 51, 0.493) solid 0.5px;
    padding: 0.5rem;
    width: 100%;
}

.social-tag img{
    fill: #039ef8;
}

.social-links article header a {
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
}

.social-links article .time {
    color: #333;
    font-weight: bold;
}

.social-links article p {
    margin: 10% 0;
    text-decoration: none;
    color: #000000;
}

.social-links article p+a {
    text-decoration: none;
    color: #000000;
    font-weight: bolder;
}

.social-links article p+a:hover {
    color: #039ef8;
}

    /* Upcoming-shows */

    .upcoming-shows {
        padding: 10%;
        height: 100vh;
        position: relative;
        background-image: url("../img/parallax_img/smoke.png");
    }

    .upcoming-shows-table {
        width: 100%;
        height: 100%;
        color: #fff;
    }

    .upcoming-shows-title {
        display: flex;
    }

    .upcoming-shows h2 {
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        margin-bottom: 1.5rem;
        color: #fff;

    }

    .upcoming-shows h3 {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 30%;
        text-align: end;
        text-transform: uppercase;
        font-size: 12px;
        color: #039ef8;
        margin: 0;
    }

    .upcoming-shows h3:hover {
        cursor: pointer;
        color: #38b4fc;
        text-decoration: underline;
    }

    .upcoming-shows-table table {
        width: 100%;
        height: 90%;
    }

    .upcoming-shows-table table thead {
        font-size: 20px;
        font-weight: bolder;
        height: 3rem;
        border-top: #fff solid 1px;

    }

    .upcoming-shows-table table tbody td {
        border-top: #fff solid 1px;
        height: 5rem;
    }

    .upcoming-shows-table .data p {
        margin: 0;
        text-transform: uppercase;
        font-size: 20px;
    }

    .upcoming-shows-table .data p+p {
        margin: 0;
        font-size: 25px;
        font-weight: bolder;
    }

    .upcoming-shows-table button {
        height: 2rem;
        text-transform: uppercase;
        font-weight: bolder;
        border: none;
        background-color: transparent;
        color: #fff;
        border-left: #fff 2px solid;
        border-bottom: #fff 2px solid;
        transition: .5s;
    }

    .upcoming-shows-table button:hover {
        border: none;
        background-color: #039ef8;

    }

/* Footer */

footer {
    border-top: 2px solid white;
}

.logo-footer {
    width: 15rem;
    transform: translateY(-40%);
}


/* Back to top button */

    #backToTopButton circle {
        fill: #333;
    }

    #backToTopButton {
        position: fixed;
        bottom: 1rem;
        right: 2.5rem;
  
        opacity: 0;
        visibility: hidden;
  
        transform: translateY(100%);
        transition: 200ms;
    }
  
    #backToTopButton.show {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
    }