body {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  min-height: 100vh;
  background-color: #000000;
  margin: 0;
}

/* Navigation*/

nav {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 1.2rem;
	z-index: 9999;
	inset: 0;
	/* color: #ffffff; */
	/* font-size: 1rem; */
	/* font-weight: 700; */
	padding-inline: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
	/* text-decoration: none; */
}

.link-sections,
.link-dropdown {
	color: #ffffff;
	font-size: 0.8rem;
	font-weight: 700;
	text-decoration: none;
}

.link-dropdown:hover,
.hamburger-menu img:hover,
.link-sections:hover {
	color: #ffffff;
	opacity: 0.5;
}

nav.scroll {
	background-color: #000000;
	border-bottom: 2px solid #ffffff;
	box-shadow: 0rem 0rem 1rem #ffffff;
	visibility: visible;
}

nav .logo-nav-left img {
	position: fixed;
	left: -0.5rem;
	top: 0rem;
	width: 2.75rem;
	transform: rotate(90deg);
}

nav .logo-nav-right img {
	position: fixed;
	right: -0.5rem;
	top: 0rem;
	width: 2.75rem;
	transform: rotate(-90deg);
}

/* nav p {
	margin: 0;
} */

nav ul {
	list-style: none;
	display: flex;
	gap: 1rem;
	margin: 0;
	height: 2rem;

}

nav ul li a {
	text-decoration: none;
	color: white;
}

/* nav ul li a:hover {
	color: white;
	opacity: 0.5;
} */

.nav-menu {
	background-color: #000000;
	border-bottom: 2px solid white;
	/* box-shadow: 0rem 0rem 1rem white; */
	border-radius: 2rem;
	transform: translateY(0.5rem);
	padding: 0;
}

.nav-menu ul {
	padding-block: 0.2rem;
	padding-inline: 1rem;
}

.nav-menu a {
	padding: 0.5rem
}

.hamburger-menu {
	width: 2rem;
	height: 2rem;
	padding: 0;
}

.hamburger-menu img {
	width: 60%;
	height: 80%;
	padding: 0;
}

.dropdown, .list-dropdown {
	display: none;
  height: 100%;
}

.dropdown-content {
	position: absolute;
	z-index: -999;
	right: 0;
	top: 1rem;
}

.dropdown-content ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: auto;
	padding: 1rem;
	padding-right: 5rem;
	margin: 0;
	background-color: #000000;
	border-radius: 0 0 1rem 2rem;
	gap: 0.5rem;
	transform: translateY(-200%);
	transition: 500ms;
}

.dropdown:hover .dropdown-content ul {
	transform: translateY(0);
}

/* Content */

.nome-banda {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-block: 3rem;
  text-align: center;
  padding-top: 2rem;
}

.nome-banda img {
  width: 15rem;
}

.nome-banda h1 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 700;
  font-family: 'Special Elite';
}

.bg-master {
  display: flex;
  position: absolute;
  width: 100%;
  opacity: 0.15;
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.2rem;
  width: 80%;
  margin: auto;
}

.card {
  background-color: #22262a73;
  width: 20rem;
  height: 28.125rem;
  position: relative;
  border-radius: 1.25rem;
  overflow: hidden;
  box-shadow: 0px 0px 10px 1px #ffffff;
  backdrop-filter: blur(5px);
  transform-style: preserve-3d;
  transform: perspective(800px);
}
.imagem {
  display: flex;
  justify-content: center;
}
.foto-pessoa {
  width: 9.375rem;
  height: 9.375rem;
  border-radius: 50%;
  margin-top: 1.25rem;
}
.nome {
  text-align: center;
  color: #fff;
  font-weight: 600;
  font-size: 1.563rem;
  font-family: "Special Elite";
}
.texto {
  display: flex;
}
.text-main {
  position: absolute;
  bottom: 0;
  text-align: center;
  transition: 1s;
  z-index: 10;
  color: #ffffff;
  font-weight: 200;
  font-size: 0.938rem;
  font-family: "Poppins";
}
.container .card .foto-pessoa {
  position: absolute;
  top: 32%;
  transform: translateY(-50%);
  z-index: 10000;
  transition: 0.5s;
}
.container .card:hover .foto-pessoa {
  top: 0%;
  transform: translateY(0%);
}
.container .card .foto-pessoa img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-25deg);
  width: 16.875rem;
}
.container .card .nome {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6.25rem;
  text-align: center;
  transition: 1s;
  z-index: 10;
}
.container .card:hover .nome {
  height: 13.125rem;
  transform: translateY(-1.875rem);
}
.container .card .nome .text-main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1.25rem;
  transition: 0.5s;
  opacity: 1;
  visibility: hidden;
  padding-top: 0;
  padding-bottom: 0;
}
.container .card:hover .nome .text-main {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
}
.container .card .nome .text-main {
  text-align: center;
  display: inline-block;
  margin: 0.313rem;
  transition: 0s;
  color: #ffffff;
  border-radius: 0.25;
  cursor: pointer;
}
.container .card .text-main {
  text-align: center;
  display: inline-block;
  padding: 0.625rem 1.25rem;
  border-radius: 0.25rem;
  margin-top: 0.625rem;
  text-decoration: none;
  color: #cad4de;
  opacity: 0;
  transform: translateY(3.125rem);
  transition: 0.5s;
  margin-top: 0;
}
.container .card:hover .text-main {
  opacity: 1;
  transform: translateY(0rem);
  transition-delay: 0s;
  text-align: center;
}
.card:hover {
  filter: brightness(1.2);
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.4s ease;
  box-shadow: 0px 0px 10px 5px #ffffff;
}

/* Fabiano */
.separador {
  display: flex;
  width: 100%;
  justify-content:center;
  align-items:center;
  margin: 5rem 0;
}

.separador > img {
  position: absolute;
}

.line {
  margin-top: 0.7rem;
  width: 100%;
}

.insp-top-title{
  position: relative;
  font-family: 'Special Elite', cursive;
  color: #ffffff;
  text-align: center;
  font-weight:lighter;
  margin-bottom: 2rem;
}

.insp-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inspirations {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2.2rem;
  width: 80%;
  margin: auto;
}

.inspiration{
  width: 300px;
  height: 300px;
  background-color: #333;
  border-radius: 10px;
  outline: 1px solid #ffffff80;
  outline-offset: -8px;
  box-shadow: 0px 0px 10px 1px #ffffff;;
  position: relative;
  overflow: hidden; 
  margin: auto;
}

.insp-image {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: .6;
  transition: transform .75s;
  cursor: pointer;
}

.inspiration:hover .insp-image {
  transform: scale(1.15);
}

.inspiration:hover {
  box-shadow: 0px 0px 10px 5px #ffffff;
}

.insp-title {
  font-family: Poppins;
  color: #f0e8e9;
  position: absolute;
  left: 1.5rem;
  bottom: 0.5rem;
  font-size: 1.2rem;
  text-align: center;
  text-shadow: 0 0 2px #000000;
}

.insp-text {
  display: none;
  font-family:'Courier New', Courier, monospace;
  color: #cae6f4;
  position: relative;
  margin: auto;
  font-size: 2rem;
  text-align: center;
  text-shadow: 0 0 2px #000000;
  border-radius:5px;
}

.inspiration:hover .insp-text {
  display:flex;
}

button {
  border: none;
  margin: none;
  padding: none;
  height: 75%;
  mix-blend-mode: hard-light;
  background-color: #ffffff00;
  border-radius: .5rem;
  outline: none;
  cursor: pointer;
  transition: .2s ease-in-out;
}

/* Footer */

footer {
	border-top: 2px solid white;
  margin-top: 7rem;
  box-shadow: 0 0 0.5rem white;
}

footer .container {
  flex-direction: column;
}
.logo-footer {
	width: 15rem;
	transform: translateY(-40%);
}

footer .link-sections {
	font-size: 1.3rem;
	text-transform: uppercase;
}

/* Back to top button */

#backToTopButton circle {
	fill: #333;
}

#backToTopButton {
	position: fixed;
	bottom: 1rem;
	right: 2.5rem;

	opacity: 0;
	visibility: hidden;

	transform: translateY(100%);
	transition: 200ms;
}

#backToTopButton.show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/* Responsividade */

@media screen and (max-width: 1319px) {
  .container{
    width: 90%;
  }
}

@media screen and (max-width: 1176px) {
  .bg-master {
    display: none;
  }
}

@media screen and (max-width: 825px) {
  .inspirations{
    width: 85%;
  }
}
@media screen and (max-width: 500px) {
  .card:hover .texto {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card:hover .nome {
    text-align: center;
    width: 80%;
  }
  .container .card:hover .nome {
    height: 17rem;
    transform: translateY(-0.3rem);
  }

  @media screen and (max-width: 280px){
    .container-master {
      width: 98%;
    }

    .container .card:hover .nome {
      height: 17rem;
      transform: translateY(-8.5rem);
    }

    .container .card:hover .foto-pessoa{
      display: none
    }

    .inspiration .insp-title {
      bottom: 1rem;
      font-size: 1rem;
      text-align: center;
    }
  }
}

@media screen and (max-width:560px) {
	#navigation {
		padding-inline: 0;
	}

	.nav-menu {
		display: flex;
		width: 80%;
		height: 2.5rem;
		align-items: center;
		transform: translateY(0.7rem);
	}

	.nav-menu ul {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-inline: 0.5rem;
	}

	.nav-menu a {
		padding: 0.5rem
	}

	.nav-menu .inicio {
		display: none;
	}

	.dropdown, .list-dropdown {
		display: block;
	}

	.contact,
	.about {
		display: none;
	}

	nav ul {
		gap: 0;
	}
}

@media screen and (max-width: 400px) {
	.logo-nav-left {
		display: none;
	}

	.logo-nav-right {
		display: none;
	}

	.nav-menu {
		width: 90%;
	}
}
