body {
	background-color: #333;
	max-width: 1400px;
	margin: 0 auto;
}

/* Navigation*/

nav {
	visibility: hidden;
	position: fixed;
	width: 100%;
	height: 1.2rem;
	z-index: 9999;
	inset: 0;
	/* color: #ffffff; */
	/* font-size: 1rem; */
	/* font-weight: 700; */
	padding-inline: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.9;
	/* text-decoration: none; */
}

.link-sections,
.link-dropdown {
	color: #ffffff;
	font-size: 0.8rem;
	font-weight: 700;
	text-decoration: none;
}

.link-sections:hover,
.link-dropdown:hover,
.hamburger-menu img:hover {
	color: #ffffff;
	opacity: 0.5;
}

nav.scroll {
	background-color: #000000;
	border-bottom: 2px solid #ffffff;
	box-shadow: 0rem 0rem 1rem #ffffff;
	visibility: visible;
}

nav .logo-nav-left img {
	position: fixed;
	left: -0.5rem;
	top: 0rem;
	width: 2.75rem;
	transform: rotate(90deg);
}

nav .logo-nav-right img {
	position: fixed;
	right: -0.5rem;
	top: 0rem;
	width: 2.75rem;
	transform: rotate(-90deg);
}

/* nav p {
	margin: 0;
} */

nav ul {
	list-style: none;
	display: flex;
	gap: 1rem;
	margin: 0;
	height: 2rem;

}

nav ul li a {
	text-decoration: none;
	color: white;
}

/* nav ul li a:hover {
	color: white;
	opacity: 0.5;
} */

.nav-menu {
	background-color: #000000;
	border-bottom: 2px solid white;
	/* box-shadow: 0rem 0rem 1rem white; */
	border-radius: 2rem;
	transform: translateY(0.5rem);
	padding: 0;
}

.nav-menu ul {
	padding-block: 0.2rem;
	padding-inline: 1rem;
}

.nav-menu a {
	padding: 0.5rem
}

.hamburger-menu {
	width: 2rem;
	height: 2rem;
	padding: 0;
}

.hamburger-menu img {
	width: 60%;
	height: 80%;
	padding: 0;
}

.dropdown,
.list-dropdown {
	display: none;
	height: 100%;
}

.dropdown-content {
	position: absolute;
	z-index: -999;
	right: 0;
	top: 1rem;
}

.dropdown-content ul {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	height: auto;
	padding: 1rem;
	padding-right: 5rem;
	margin: 0;
	background-color: #000000;
	border-radius: 0 0 1rem 2rem;
	gap: 0.5rem;
	transform: translateY(-200%);
	transition: 500ms;
}

.dropdown:hover .dropdown-content ul {
	transform: translateY(0);
}


/* Parallax */

.home-parallax {
	position: relative;
	height: 100vh;
	background-color: #333;

}

#background-parallax {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}

#silhoutte {
	position: absolute;
	height: 100%;
	width: 100%;
}

#logo {
	margin-top: 1rem;
	left: 35%;
	position: absolute;
	width: 30%;
}

#silhoutte2 {
	position: absolute;
	top: 12rem;
	width: 100%;
	height: 100%;
}

#smoke {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.2;
}

#flare {
	position: absolute;
	mix-blend-mode: lighten;
	height: 100%;
	width: 100%;
	opacity: 0.6;
}

.parallax h1 {
	color: #fff;
}

/* Carousel */

.nome-banda {
	text-align: center;
	margin-bottom: 1rem;
}

.nome-banda img {
	width: 50%;
	height: 50%;
}

.nome-banda h1 {
	text-align: center;
	color: #fff;
	margin: auto;
	font-family: 'Special Elite', cursive;
}

.containerSlider {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	padding: 5% 0;
	border-top: 2px solid #ffffff;
	background-image: url("../img/parallax_img/smoke.png");
	box-shadow: 0 0 0.5rem #fff;
}

#tour {
	padding-top: 2rem;
}

.containerSlider h2 {
	width: 80%;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	margin-bottom: 1.5rem;
	color: #fff;
	font-family: 'Special Elite', cursive;
	text-shadow: 3px 3px #000000;

}

.containerSlider .carousel {
	margin: 0;
	width: 80%;
}

#mainSlider .carousel-inner {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background-color: transparent;
}

.carousel-caption {
	inset: 0;
	width: 60%;
	height: fit-content;
	margin: auto;
	border-radius: 2rem;
	background-color: #33333367;
}

#mainSlider .carousel-caption h3 {
	text-align: center;
	font-size: 3rem;
	margin-bottom: 2%;
	text-shadow: 3px 3px #000000;
	font-family: 'Special Elite', cursive
}

#mainSlider .carousel-caption p {
	width: 90%;
	margin: auto;
	font-size: 1.5rem;
	font-weight: bolder;
	margin-bottom: 5%;
	color: #fff;
}

.main-btn {
	margin-bottom: 20rem;
	background-color: transparent;
	color: #fff;
	font-weight: bolder;
	text-decoration: none;
	text-transform: uppercase;
	width: 10rem;
	height: 4rem;
	padding: 1rem 2rem;
	color: #fff;
	border-left: #fff 3px solid;
	border-bottom: #fff 3px solid;
	transition: .5s;
}

.main-btn:hover {
	border: none;
	color: #fff;
	background-color: #039ef8;
}

.carousel-indicators .active {
	background-color: #039ef8;
}

.carousel-indicators button {
	height: 10px !important;
	width: 10px !important;
	border-radius: 50%;
}

.split-section {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 30px;
	width: 90%;

}

.line {
	position: absolute;
	top: 50%;
	max-width: 100vw;
}

.line img {
	width: 100%;
}

.logo-separate {
	z-index: 9;
}

/* Social links */

.social-links {
	position: relative;
	display: flex;
	flex-direction: row;
	width: 100%;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

.social-links .post {
	background-color: #cccccc;
	padding: 1rem 2rem;
	width: 100%;
	height: auto;
}

.social-links .middle {
	background-color: #f7f5f5;
}

.social-links article header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: rgba(51, 51, 51, 0.493) solid 0.5px;
	padding: 0.5rem;
	width: 100%;
}

.social-tag {
	width: 60%;
}

.social-icon svg {
	width: 10%;
	height: 10%;
	fill: #333;
}

.social-tag:hover .social-icon svg {
	fill: #039ef8;
}

.social-links article header a {
	text-decoration: none;
	color: #000000;
	font-weight: bolder;
}

.social-links article .time {
	color: #333;
	font-weight: bold;
	width: 40%;
}

.social-links article p {
	margin: 10% 0;
	text-decoration: none;
	color: #000000;
}

.social-links article p+a {
	text-decoration: none;
	color: #000000;
	font-weight: bolder;
}

.social-links article p+a:hover {
	color: #039ef8;
}

/* Upcoming-shows */

.upcoming-shows {
	padding: 10%;
	height: fit-content;
	position: relative;
	background-image: url("../img/parallax_img/smoke.png");
	border-bottom: 2px solid #fff ;
  box-shadow: 0 0 0.5rem white;
}

.upcoming-shows-table {
	width: 100%;
	height: 100%;
	color: #fff;
}

.upcoming-cards {
	width: 100%;
	height: 100%;
	display: none;
}

.upcoming-card {
	text-align: center;
	background-color: rgba(51, 51, 51, 0.411);
	padding: 2rem;
	margin: 2rem auto;
	border-top: 2px solid #fff;
	border-radius: 10px;

}

.upcoming-card h2 {
	margin: auto;
	color: #fff;
	margin-bottom: 1.5rem;
}

.card-local {
	width: 100%;
	height: 30%;
	margin-bottom: 1.5rem;
}

.upcoming-shows-title {
	display: flex;
}

.upcoming-shows-title h2 {
	width: 85%;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	margin-bottom: 1.5rem;
	color: #fff;
	font-family: 'Special Elite', cursive;
	text-shadow: 3px 3px #000000;

}

.upcoming-shows-title a {
	display: flex;
	justify-content: end;
	align-items: flex-end;
}

.upcoming-shows-title h3 {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	text-transform: uppercase;
	font-size: 12px;
	color: #039ef8;
	margin-bottom: 1.5rem;
}

.upcoming-shows h3:hover {
	cursor: pointer;
	color: #38b4fc;
	text-decoration: underline;
}

.upcoming-shows-table table {
	width: 100%;
	height: 90%;
}

.upcoming-shows-table table thead {
	font-size: 20px;
	font-weight: bolder;
	height: 3rem;
	border-top: #fff solid 1px;

}

.upcoming-shows-table table tbody td {
	border-top: #fff solid 1px;
	height: 5rem;
}

.upcoming-shows-table .local-icon,
.upcoming-card .local-icon {
	width: auto;
	height: 1.5rem;
}


.upcoming-shows-table svg {
	width: auto;
	height: 30%;
}

.upcoming-shows-table .location-name,
.upcoming-card .location-name {
	width: auto;
	height: 30%;
	text-decoration: none;
	color: #fff;
}

.upcoming-shows-table .data p {
	margin: 0;
	text-transform: uppercase;
	font-size: 20px;
}

.upcoming-shows-table .data p+p {
	margin: 0;
	font-size: 25px;
	font-weight: bolder;
}

.upcoming-button {
	display: none;
}

.upcoming-shows-table button,
.upcoming-card button,
.upcoming-button button {
	height: 2rem;
	text-transform: uppercase;
	font-weight: bolder;
	border: none;
	background-color: transparent;
	color: #fff;
	border-left: #fff 2px solid;
	border-bottom: #fff 2px solid;
	transition: .5s;
}

.upcoming-shows-table button:hover {
	border: none;
	background-color: #039ef8;

}

/* Footer */

.logo-footer {
	width: 15rem;
	transform: translateY(-40%);
}

footer .link-sections {
	font-size: 1.3rem;
	text-transform: uppercase;
}

/* Back to top button */

#backToTopButton circle {
	fill: #333;
}

#backToTopButton {
	position: fixed;
	bottom: 1rem;
	right: 2.5rem;

	opacity: 0;
	visibility: hidden;

	transform: translateY(100%);
	transition: 200ms;
}

#backToTopButton.show {
	opacity: 1;
	visibility: visible;
	transform: translateY(0);
}

/* Responsive */

@media screen and (max-width:992px) {
	.home-parallax {
		position: relative;
		height: 50vh;
		background-color: #333;
	}

	#logo {
		margin-top: 0;
	}

	#silhoutte2 {
		top: 15%;
	}

	#mainSlider .carousel-inner,
	#mainSlider .carousel-item {
		height: 30vh;
	}

	.carousel-item img {
		height: 100%;
	}

	#mainSlider .carousel-caption {
		width: auto;
	}

	#mainSlider .carousel-caption h2 {
		font-size: 2rem;
		margin-bottom: 2%;
		text-shadow: 3px 3px #039ef898;
	}

	#mainSlider .carousel-caption p {
		width: 90%;
		font-size: 1rem;
	}

	.carousel-indicators {
		margin: 0;
	}

	.social-links {
		flex-wrap: wrap;
	}

	.upcoming-shows-title a,
	.upcoming-shows-title h2 {
		text-align: center;
	}

}

@media screen and (max-width:760px) {
	.home-parallax {
		position: relative;
		height: 30vh;
		background-color: #333;
	}

	#logo {
		margin-top: 0;
	}

	#silhoutte2 {
		top: 15%;
	}

	#mainSlider .carousel-caption h3 {
		font-size: 1.5rem;
	}

	.main-btn {
		width: auto;
		height: auto;
		padding: 0.5rem;
		font-size: 0.8rem;
	}

	.upcoming-shows-title h2 {
		width: 100%;
	}

	.upcoming-shows-table {
		display: none;
	}

	.upcoming-cards {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	.upcoming-shows-title a {
		display: none;
	}

	.upcoming-button {
		display: block;
		margin-bottom: 2rem;
	}

	.logo-separate img {
		height: 3rem;
	}

	.social-links .post {
		padding: 1rem 1rem;
		width: 100%;
		height: auto;
	}


}

@media screen and (max-width:560px) {
	#navigation {
		padding-inline: 0;
	}

	.nav-menu {
		display: flex;
		width: 80%;
		height: 2.5rem;
		align-items: center;
		transform: translateY(0.7rem);
	}

	.nav-menu ul {
		display: flex;
		justify-content: space-between;
		width: 100%;
		padding-inline: 0.5rem;
	}

	.nav-menu a {
		padding: 0.5rem
	}

	.nav-menu .inicio {
		display: none;
	}

	.dropdown,
	.list-dropdown {
		display: block;
	}

	.contact,
	.about {
		display: none;
	}

	nav ul {
		gap: 0;
	}

	.social-links article .time {
		font-size: 10px;
		text-align: end;
	}
}

@media screen and (max-width: 400px) {
	.logo-nav-left {
		display: none;
	}

	.logo-nav-right {
		display: none;
	}

	.nav-menu {
		width: 90%;
	}
}